
* { box-sizing: border-box }

html, body
{ padding: 0
; margin: 0
}

iframe
{ display: none
}

canvas
{ width: 100vw
; height: 100vh
; display: block
; background-color: #558B2F
}

/* Chat wrapper */
body > div
{ position: fixed
; bottom: 0
}

body > div > div
{ max-height: 25vh
; color: white
; background-color: rgba(0, 0, 0, 0.5)
; border-top: 3px solid #d0d0d0
; overflow-y: auto
}

/* Chat input */
input
{ width: 100vw
; padding: 1em
; background-color: rgba(0, 0, 0, 0.5)
; color: white
}

.hide
{ display: none
}

